<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>php AngularJS Test</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<script src="index.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl"">
<div id="main">
	<div id="form">
		<form>
			Full Name: <input type="text" ng-model="fullName" name="fullName">
			Gender: <input type="text" ng-model="gender" name="gender">
			<input type="button" value="Submit" ng-click="addPerson()">
		</form>
	</div>
	<div id="view">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Full Name</th>
					<th>Gender</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in data">
					<td>{{person.id}}</td>
					<td>{{person.fullName}}</td>
					<td>{{person.gender}}</td>
					<td><button ng-click="delPerson(person.id)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="footer">
		&copy;2017
	</div>
	<div id="header">
		PHP AngularJS Test
	</div>
	<div id="extra">
		<p ng-if="message!==''">{{message}}</p>
	</div>
</div>
</body>
</html>